---
import pokemonData from "../../data/pokemon.json";
import Layout from "../../layouts/Layout.astro";

const { pokemon } = pokemonData;
export async function getStaticPaths() {
//   const pages = [
//     {
//       slug: undefined,
//       title: "Astro Store",
//       text: "Welcome to the Astro store!",
//     },
//     {
//       slug: "products",
//       title: "Astro products",
//       text: "We have lots of products for you",
//     },
//     {
//       slug: "products/astro-handbook",
//       title: "The ultimate Astro handbook",
//       text: "If you want to learn Astro, you must read this book.",
//     },
//   ];
    console.log(pokemon)
  return pokemon.map(({ name, about, img }) => {
    return {
      params: { name },
      props: { name, about, img },
    };
  });
}

const { name, about, img } = Astro.props;
---

<Layout title="name">
    <h1>{name}</h1>
    <p>{about}</p>
    <img src={img} alt="" srcset="">
</Layout>